{% load staticfiles %}
{% load adv_cache %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - {{SITE_META.site_name}}</title>

    {% include 'partials/seo.html' %}
    {% include 'partials/icons.html' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.journal.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/city_custom.css' %}" />

    {% block extra_css %}{% endblock %}

</head>
<body>

    {% cache 600 nav_wrapper 'nav' %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- <div class="container container-fluid container-fluid-nav"> -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img id="logo" src="{% static IMAGES.logo %}" >
                    <span id="logo-text">{{ CITY_NAME }} Councilmatic</span>
                </a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="nav-items">
                    <li>
                        <a href="{% url 'nyc:about' %}">About</a>
                    </li>
                    <li>
                        <a href='{% url 'council_members' %}'>{{ CITY_VOCAB.COUNCIL_MEMBERS }}</a>
                    </li>
                    <li>
                        <a href='{% url 'nyc:committees' %}'>Committees</a>
                    </li>
                    <li>
                        <a href='{% url 'events' %}'>{{ CITY_VOCAB.EVENTS }}</a>
                    </li>
                    <li>
                        <a href="{% url 'nyc:search' %}">Legislation</a>
                    </li>

                    {% nocache %}
                    {% if USING_NOTIFICATIONS and request.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Account">
                                {{request.user.username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="non-link text-muted small">{{request.user.email}}</li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/account/subscriptions">
                                        <i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i>
                                        Manage Alerts
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if USING_NOTIFICATIONS and not request.user.is_authenticated %}
                    <li>
                        <a href="/login/" title="Sign in">
                            Sign in
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="https://council.nyc.gov/"><i class="fa fa-reply" aria-hidden="true"></i> Back to NYC Council</a>
                    </li>
                    {% endnocache %}

                </ul>

            </div><!-- /.navbar-collapse -->

        </div>
    </nav>

    {% endcache %}


    {% block full_content %}
    {% endblock %}

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock %}

    <script>
        var analyticsTrackingCode = '{{ANALYTICS_TRACKING_CODE}}';
    </script>
    <script src="{% static 'js/analytics_lib.js' %}"></script>

</body>
</html>
